
body { 
    width: 100%;
    text-align: center;
    background-image: url(../images/dust_scratches.png);
    
}

p {
    background-color: #ffffff;
    color: #777777;
    width: 900px;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}

#bioName {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 300px;
    height: 40px;
    padding: 20px 0px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}

h1 {
    color: #4aaaa5;
    float: left;
    width: 300px;
    height: 40px;
    padding: 20px 20px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

#centerContainer { 
    width: 960px; 
    text-align: left; 
    margin: 0px auto;
    border: 1px; 
    border-style: solid;
    border-color: #dddddd;
    background-color: #ffffff;
}

#centerNavContainer { 
    width: 960px; 
    text-align: left;
    margin: 0px auto; 
    background-color: wheat;
}

#topNavBar {  
    height: 80px;
    text-align: left; 
    margin: 0px 0px 20px 0px; 
    border: 1px; 
    border-style: solid;
    border-color: #cccccc;
    background-color: #ffffff;
}

#bioHeadshot {
    width: 100px;
    height: 100px;
    float: left; 
    text-align: left; 
    margin: 0px auto; 
    background-color: wheat;
}

div.relative {
    position: relative;
    height: 80px;
    left: 10px;    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 80px;
    overflow: hidden;
    background-color:#ffffff;
}

li {
    float: right;
}

li a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    text-align: center;
    padding: 32px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #4aaaa5;
}

.active {
    background-color: #4aaaa5;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #666666;
    color: #d3d3d3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
 }

 .footerHeader {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 48px;
    background-color: #4aaaa5;
 }

 img {
     float: left;
 }


input[type=text], select, textarea {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

input[type=submit]:hover {
    background-color: #4aaaa5;
}

.container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

a.portfolio:link, a.portfolio:visited {
    background-color: #4aaaa5;
    color: #777777;
    padding: 4px 47px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}

a.portfolio:hover, a.portfolio:active {
    background-color: #ffffff;
    color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
}